@font-face {
  font-family:"Quicksand" ;
  src: url("../../assets/font/Quicksand-Regular.ttf");
}

body{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  overflow-x: hidden !important;
  max-width: screen;
}

